openapi: 3.0.3
info:
  title: Aptivo API
  version: 1.2.3
  description: |
    Aptivo platform API. Bootstrapped in Sprint 16 as the canonical contract
    for Phase 3.5 UI consumption. Only endpoints added or touched in Sprint 16+
    are currently documented here; pre-S16 endpoints are still to be captured.

    Per cross-sprint DoD (Sprint 16+), every PR that adds or modifies an API
    route must update this file in the same commit.
servers:
  - url: https://aptivo.dev
    description: production
  - url: http://localhost:3000
    description: local dev

paths:
  /api/workflows:
    post:
      summary: Create a workflow definition (draft)
      description: |
        WFE3-01 (Sprint 16) added graph validation: cyclic, dangling, duplicate-id,
        no-entry-step, and unreachable-step bodies are rejected with 400. Create always
        validates the initial graph, regardless of status.
      tags: [workflows]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, domain, steps]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                domain: { type: string, minLength: 1, maxLength: 50 }
                description: { type: string, maxLength: 1000 }
                steps:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/WorkflowStep'
      responses:
        '201':
          description: Workflow created
        '400':
          description: Graph validation or shape validation failed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/WorkflowGraphInvalidResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/workflows/{id}:
    put:
      summary: Update a workflow definition
      description: |
        WFE3-01 policy (Sprint 16): graph validation runs only when the resulting
        workflow will be `status: 'active'`. Draft updates may intermediate be
        incomplete (builder pattern). Transitioning to active validates the final
        graph (merged existing + payload) and rejects with 400 on any graph error.
      tags: [workflows]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Workflow updated
        '400':
          description: Graph validation failed during activation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/WorkflowGraphInvalidResponse'
        '404':
          description: Workflow not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/departments:
    get:
      summary: List departments (FA3-01)
      tags: [admin, budget]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of departments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Department' }
                  count: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create a department (FA3-01)
      description: |
        Creates a new department entity. Requires `platform/admin.department.edit`.
        Subject to admin rate-limit (default 30 writes per 5-minute window);
        exceeding returns 429 with `retry-after` header.
        Emits audit event `platform.admin.department.created`.
      tags: [admin, budget]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, ownerUserId]
              properties:
                name: { type: string, minLength: 1, maxLength: 120 }
                ownerUserId: { type: string, format: uuid }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Department' }
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ProblemDetail'
                  - type: object
                    properties:
                      retryAfterSec: { type: integer }

  /api/admin/departments/{id}/budget:
    get:
      summary: Read current budget + spend report for a department (FA3-01)
      tags: [admin, budget]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Budget config + spend snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      budget: { $ref: '#/components/schemas/BudgetConfig' }
                      spend:
                        oneOf:
                          - $ref: '#/components/schemas/SpendReport'
                          - type: 'null'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Department has no budget config
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    put:
      summary: Set or update the department's budget (FA3-01)
      description: |
        Upserts the budget config. Requires `platform/admin.budget.edit`.
        Admin-rate-limited. Emits audit event `platform.admin.budget.updated`.
      tags: [admin, budget]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BudgetConfig' }
      responses:
        '200':
          description: Budget updated
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Department not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ProblemDetail'
                  - type: object
                    properties:
                      retryAfterSec: { type: integer }

  /api/tickets:
    get:
      summary: List case-tracking tickets (S17-CT-1)
      description: |
        Paginated list with optional filters. Requires `platform/tickets.read`.
        `limit` defaults to 50, max 200. Newest-first ordering by `createdAt`.
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          required: false
          schema: { $ref: '#/components/schemas/TicketStatus' }
        - in: query
          name: priority
          required: false
          schema: { $ref: '#/components/schemas/TicketPriority' }
        - in: query
          name: ownerUserId
          required: false
          schema: { type: string, format: uuid }
        - in: query
          name: departmentId
          required: false
          schema: { type: string, format: uuid }
        - in: query
          name: limit
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: offset
          required: false
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: Tickets page
          content:
            application/json:
              schema:
                type: object
                required: [data, totalCount, limit, offset]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Ticket' }
                  totalCount: { type: integer }
                  limit: { type: integer }
                  offset: { type: integer }
        '400':
          description: Invalid query parameter
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create a ticket (S17-CT-1)
      description: |
        Requires `platform/tickets.create`. Admin-rate-limited.
        Emits audit event `platform.ticket.created`. When `workflowDefinitionId`
        is supplied, the workflow definition must exist (404-style problem
        is a 400 with `type=workflow-definition-not-found`).
      tags: [tickets]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTicket' }
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Ticket' }
        '400':
          description: Validation failure or workflow-definition issue
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ProblemDetail'
                  - type: object
                    properties:
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path: { type: string }
                            message: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /api/tickets/{id}:
    get:
      summary: Fetch a single ticket (S17-CT-1)
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Ticket
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Ticket' }
        '400':
          description: Invalid id (not a UUID)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Ticket not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    patch:
      summary: Partial update of a ticket (S17-CT-1)
      description: |
        Requires `platform/tickets.update`. Admin-rate-limited.
        Emits audit event `platform.ticket.updated`. Closed tickets
        are rejected with 409 `type=ticket-already-closed`.
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTicket' }
      responses:
        '200':
          description: Ticket updated
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Ticket' }
        '400':
          description: Validation failure
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ProblemDetail'
                  - type: object
                    properties:
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path: { type: string }
                            message: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Ticket not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '409':
          description: Ticket already closed
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    delete:
      summary: Soft-close a ticket (S17-CT-1)
      description: |
        Sets `status='closed'` + `closedAt=now()` rather than removing
        the row. Requires `platform/tickets.delete`. Admin-rate-limited.
        Emits audit event `platform.ticket.closed`.
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Ticket soft-closed
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Ticket' }
        '400':
          description: Invalid id (not a UUID)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Ticket not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '409':
          description: Ticket already closed
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /api/tickets/{id}/escalate:
    get:
      summary: Read the escalation chain status for a ticket (S17-CT-3)
      description: |
        Returns the current tier, full chain, history, and whether the
        ticket is at the top tier. Requires `platform/tickets.read`.
        404 problem+json when the ticket doesn't exist; 422 when the
        priority has no escalation chain configured (today: `low`).
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Chain status
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/TicketEscalationChainStatus' }
        '400':
          description: Invalid id (not a UUID)
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Ticket not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '422':
          description: Priority has no escalation chain
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
    post:
      summary: Manually escalate a ticket to its next tier (S17-CT-3)
      description: |
        Advances the ticket one tier up its priority chain. Requires
        `platform/tickets.escalate`. Admin-rate-limited. Emits
        `platform.ticket.escalated` audit event with the supplied
        reason. 409 when the ticket is already at its top tier or
        already closed; 422 when the priority has no chain configured.
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 1, maxLength: 500 }
      responses:
        '200':
          description: Ticket escalated; returns the updated ticket
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/Ticket' }
        '400':
          description: Validation failure
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ProblemDetail'
                  - type: object
                    properties:
                      issues:
                        type: array
                        items:
                          type: object
                          properties:
                            path: { type: string }
                            message: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Ticket not found
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '409':
          description: Ticket already closed OR already at top tier OR chain exhausted
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '422':
          description: Priority has no escalation chain
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }

  /api/tickets/reports:
    get:
      summary: Case-tracking reporting metrics (S17-CT-4)
      description: |
        Returns three sub-reports keyed by ticket priority over a
        caller-chosen window (default 30 days; values outside
        [1, 365] are rejected with 400 problem+json, NOT clamped):

          - openByPriority — current open/in_progress/escalated counts
          - resolution     — average minutes from createdAt → closedAt
          - slaCompliance  — fraction closed inside the priority's
            configured SLA window

        Read-only; requires `platform/tickets.read`. No audit emission,
        no rate-limit (pure aggregation, cheap).
      tags: [tickets]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: range
          schema: { type: string, example: "30d" }
          description: |
            Window length in days. Accepts plain integers ("30") or
            integer + "d" suffix ("30d"). Defaults to 30. Must fall
            in [1, 365]. Out-of-range or malformed values are
            rejected with a 400 problem+json (NOT silently clamped).
      responses:
        '200':
          description: Reporting payload
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/TicketReport' }
        '400':
          description: Invalid range
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/ProblemDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/workflows/validate:
    post:
      summary: Validate a draft workflow body (shape + graph) without persisting
      description: |
        Accepts a draft workflow body and returns a structured validation
        report. This endpoint is a linter, not a gateway — invalid drafts
        return HTTP 200 with `valid: false` so clients can render inline
        feedback without treating validation failure as a request failure.

        Added in Sprint 16 (WFE3-01). Requires `platform/workflow.view`
        (read-only permission) — this is a linter, not a persistence op.
      tags: [workflows]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [steps]
              properties:
                steps:
                  type: array
                  items:
                    $ref: '#/components/schemas/WorkflowStep'
      responses:
        '200':
          description: Validation report (valid or invalid — HTTP status is 200 either way)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowValidationReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    WorkflowStep:
      type: object
      required: [id, type, name, config]
      properties:
        id:
          type: string
          minLength: 1
        type:
          type: string
          enum: [action, decision, hitl, notification, wait]
        name:
          type: string
          minLength: 1
        config:
          type: object
          additionalProperties: true
        nextSteps:
          type: array
          items:
            type: string

    WorkflowValidationReport:
      type: object
      required: [valid, errors]
      properties:
        valid:
          type: boolean
        errors:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/GraphValidationError'
              - $ref: '#/components/schemas/ShapeInvalidError'

    GraphValidationError:
      oneOf:
        - type: object
          required: [_tag, type]
          properties:
            _tag: { type: string, enum: [NoEntryStep] }
            type: { type: string }
        - type: object
          required: [_tag, type, stepId]
          properties:
            _tag: { type: string, enum: [DuplicateStepId] }
            type: { type: string }
            stepId: { type: string }
        - type: object
          required: [_tag, type, stepId, missingRef]
          properties:
            _tag: { type: string, enum: [DanglingReference] }
            type: { type: string }
            stepId: { type: string }
            missingRef: { type: string }
        - type: object
          required: [_tag, type, cycle]
          properties:
            _tag: { type: string, enum: [CycleDetected] }
            type: { type: string }
            cycle:
              type: array
              items: { type: string }
        - type: object
          required: [_tag, type, stepIds]
          properties:
            _tag: { type: string, enum: [UnreachableSteps] }
            type: { type: string }
            stepIds:
              type: array
              items: { type: string }

    Department:
      type: object
      required: [id, name, ownerUserId, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        ownerUserId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    BudgetConfig:
      type: object
      required: [monthlyLimitUsd, warningThreshold, blockOnExceed, notifyOnWarning]
      properties:
        monthlyLimitUsd: { type: number, exclusiveMinimum: 0 }
        warningThreshold: { type: number, exclusiveMinimum: 0, maximum: 1 }
        blockOnExceed: { type: boolean }
        notifyOnWarning: { type: boolean }

    SpendReport:
      type: object
      required: [totalUsd, rowCount, coverageLevel]
      properties:
        totalUsd: { type: number }
        rowCount: { type: integer }
        coverageLevel:
          type: string
          enum: [none, full]
          description: |
            Binary signal indicating whether this department has any
            stamped rows in the window. `'none'`: no stamped rows for
            this department (the universal state in S16 until
            request-time stamping middleware lands in S17). `'full'`:
            at least one stamped row exists for this department —
            attribution is working. Per-request `'partial'` coverage
            is NOT returned because unstamped rows can't be attributed
            to specific departments at the row level.

    WorkflowGraphInvalidResponse:
      description: |
        RFC 7807 Problem Detail emitted by `POST /api/workflows` and
        `PUT /api/workflows/{id}` when the request body would persist (or
        activate) a graph-invalid workflow. Nested `graphError` carries the
        same shape as the linter endpoint's per-error entries — consumers can
        share a single schema across linter + gateway responses.
      type: object
      required: [type, title, status, graphError]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer, enum: [400] }
        graphError:
          $ref: '#/components/schemas/GraphValidationError'

    ShapeInvalidError:
      type: object
      required: [_tag, type, detail]
      properties:
        _tag: { type: string, enum: [ShapeInvalid] }
        type: { type: string }
        detail: { type: string }

    TicketStatus:
      type: string
      enum: [open, in_progress, escalated, closed]

    TicketPriority:
      type: string
      enum: [low, medium, high, critical]

    Ticket:
      description: Case-tracking ticket (S17-CT-1)
      type: object
      required: [id, status, priority, title, body, ownerUserId, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        workflowDefinitionId:
          type: string
          format: uuid
          nullable: true
        status: { $ref: '#/components/schemas/TicketStatus' }
        priority: { $ref: '#/components/schemas/TicketPriority' }
        title: { type: string, maxLength: 200 }
        body: { type: string }
        ownerUserId: { type: string, format: uuid }
        departmentId:
          type: string
          format: uuid
          nullable: true
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        closedAt:
          type: string
          format: date-time
          nullable: true

    CreateTicket:
      type: object
      required: [title, body, ownerUserId]
      properties:
        workflowDefinitionId:
          type: string
          format: uuid
          nullable: true
        status: { $ref: '#/components/schemas/TicketStatus' }
        priority: { $ref: '#/components/schemas/TicketPriority' }
        title: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, minLength: 1 }
        ownerUserId: { type: string, format: uuid }
        departmentId:
          type: string
          format: uuid
          nullable: true

    UpdateTicket:
      description: Partial-update body. Omit fields to leave them unchanged.
      type: object
      properties:
        status: { $ref: '#/components/schemas/TicketStatus' }
        priority: { $ref: '#/components/schemas/TicketPriority' }
        title: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, minLength: 1 }

    TicketEscalationHistoryEntry:
      type: object
      required: [toTier, at, escalatedBy]
      properties:
        toTier: { type: string }
        at: { type: string, format: date-time }
        reason:
          type: string
          nullable: true
        escalatedBy:
          type: object
          required: [id, type]
          properties:
            id: { type: string }
            type: { type: string, enum: [user, system, workflow] }

    TicketEscalationChainStatus:
      description: Read shape for /api/tickets/{id}/escalate (S17-CT-3)
      type: object
      required: [ticketId, currentTier, chain, history, isAtTopTier]
      properties:
        ticketId: { type: string, format: uuid }
        currentTier: { type: string }
        nextTier:
          type: string
          nullable: true
        chain:
          type: array
          items: { type: string }
        history:
          type: array
          items: { $ref: '#/components/schemas/TicketEscalationHistoryEntry' }
        isAtTopTier: { type: boolean }

    TicketReport:
      description: Reporting payload for /api/tickets/reports (S17-CT-4)
      type: object
      required: [windowDays, windowStart, windowEnd, openByPriority, openTotal, resolution, slaCompliance]
      properties:
        windowDays: { type: integer, minimum: 1, maximum: 365 }
        windowStart: { type: string, format: date-time }
        windowEnd: { type: string, format: date-time }
        openTotal: { type: integer, minimum: 0 }
        openByPriority: { $ref: '#/components/schemas/TicketReportPriorityCounts' }
        resolution:
          type: object
          required: [totalClosed, avgResolutionMinutes, byPriority]
          properties:
            totalClosed: { type: integer, minimum: 0 }
            avgResolutionMinutes:
              type: integer
              nullable: true
              description: Null when totalClosed=0
            byPriority: { $ref: '#/components/schemas/TicketReportResolutionByPriority' }
        slaCompliance:
          type: object
          required: [totalClosed, withinSlaCount, evaluatedClosed, compliancePct, unconfiguredPriorities, byPriority]
          properties:
            totalClosed:
              type: integer
              minimum: 0
              description: |
                All closures in the window across every priority —
                honest denominator for "how many tickets did we close".
            withinSlaCount:
              type: integer
              minimum: 0
              description: |
                Closures that met SLA. Counted only over priorities
                that have a configured SLA threshold.
            evaluatedClosed:
              type: integer
              minimum: 0
              description: |
                Subset of totalClosed where an SLA threshold was
                applicable. compliancePct denominator. Always ≤ totalClosed.
            compliancePct:
              type: number
              nullable: true
              minimum: 0
              maximum: 1
              description: |
                withinSlaCount / evaluatedClosed, rounded to 4dp.
                Null when evaluatedClosed=0 (nothing in the window
                had a config) — distinct from "0% met SLA".
            unconfiguredPriorities:
              type: array
              description: |
                Priorities that contributed to totalClosed but were
                excluded from the rate (no SLA config row). Surface in
                dashboards so ops sees the config gap.
              items: { $ref: '#/components/schemas/TicketPriority' }
            byPriority: { $ref: '#/components/schemas/TicketReportComplianceByPriority' }

    TicketReportPriorityCounts:
      type: object
      required: [critical, high, medium, low]
      properties:
        critical: { type: integer, minimum: 0 }
        high: { type: integer, minimum: 0 }
        medium: { type: integer, minimum: 0 }
        low: { type: integer, minimum: 0 }

    TicketReportResolutionByPriority:
      type: object
      required: [critical, high, medium, low]
      properties:
        critical: { $ref: '#/components/schemas/TicketReportResolutionEntry' }
        high: { $ref: '#/components/schemas/TicketReportResolutionEntry' }
        medium: { $ref: '#/components/schemas/TicketReportResolutionEntry' }
        low: { $ref: '#/components/schemas/TicketReportResolutionEntry' }

    TicketReportComplianceByPriority:
      type: object
      required: [critical, high, medium, low]
      properties:
        critical: { $ref: '#/components/schemas/TicketReportComplianceEntry' }
        high: { $ref: '#/components/schemas/TicketReportComplianceEntry' }
        medium: { $ref: '#/components/schemas/TicketReportComplianceEntry' }
        low: { $ref: '#/components/schemas/TicketReportComplianceEntry' }

    TicketPriority:
      type: string
      enum: [critical, high, medium, low]

    TicketReportResolutionEntry:
      type: object
      required: [totalClosed, avgResolutionMinutes]
      properties:
        totalClosed: { type: integer, minimum: 0 }
        avgResolutionMinutes:
          type: integer
          nullable: true

    TicketReportComplianceEntry:
      type: object
      required: [totalClosed, withinSlaCount, compliancePct]
      properties:
        totalClosed: { type: integer, minimum: 0 }
        withinSlaCount: { type: integer, minimum: 0 }
        compliancePct:
          type: number
          nullable: true
          minimum: 0
          maximum: 1

    ProblemDetail:
      description: RFC 7807 Problem Details response
      type: object
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
        title: { type: string }
        status: { type: integer }
        detail: { type: string }

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
    Forbidden:
      description: Caller lacks required permission
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/ProblemDetail' }
